/* Working on the hero section */
.hero_container {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  height: 100vh;
}

.hero {
  display: grid;
  grid-template-columns: 0.2fr 2fr 1fr 0.5fr;

  /* text-align: center; */
  grid-row: 2/3;

  animation: fadeIn 1.1s ease-in forwards;
}

.hero_text {
  grid-column: 2/3;

  /* text-align: center; */
  align-self: center;
}

.hero_image img{
  height: 80%;
}

/* Obviously, I hate myself... I needed to add this */
@media only screen and (max-width: 768px) {
  .hero_container {
    display: grid;
    place-items: center; /* centers both horizontally & vertically */
    height: 100vh;
    margin: 0;
  }
  .hero { 
    grid-template-columns: 1fr;
    text-align: center;
    gap: 20px;
  }

  .hero_text {
    grid-column: auto;
  }

  .hero_image {
    display: flex;
    justify-content: center;
  }

  .hero_image img {
    width: 90%;
    height: auto;
  }
}
